<h1>Accueil VIP</h1>
<!--
<div fxLayoutGap="20px" fxLayout="row" fxLayout.lt-md="column">

  <div fxFlex>
    <mat-card>
      <mat-card-title>Ajouter une accréditation</mat-card-title>

      <app-create-update-accred></app-create-update-accred>
    </mat-card>
  </div>
  <div fxFlex>
    <mat-card>
      <mat-card-title>Ajouter plusieurs accréditations</mat-card-title>

      <p>Complétez les informations demandées puis copiez/collez votre CSV dans le champ de texte qui va apparaître.</p>
      <app-create-accred-bulk></app-create-accred-bulk>
    </mat-card>
  </div>

</div>
-->


<mat-card style="margin-top: 20px;">
  <mat-card-title>Liste des invités</mat-card-title>
  <app-accreds-list viewType="staff"></app-accreds-list>
</mat-card>
