<mat-form-field style="width: calc(100% - 40px);" *ngIf="types">
  <mat-label>{{label}}</mat-label>

  <mat-select [ngModel]="selected" (ngModelChange)="changeValue($event)" name="type" [required]="!allowEmpty">
    <mat-option *ngIf="allowEmpty" [value]="null">
      Aucun
    </mat-option>
    <mat-option *ngFor="let option of types" [value]="option.physicalAccredTypeId">
      {{ option.physicalAccredTypeName }}
    </mat-option>
  </mat-select>
</mat-form-field>

<button *ngIf="allowCreation && types" mat-icon-button (click)="create()" type="button"><mat-icon>add</mat-icon></button>
