<form fxLayout="row" fxLayout.lt-md="col" fxLayoutGap="20px">
  <mat-form-field fxFlex>
    <input matInput placeholder="Filtrer par nom" [(ngModel)]="filterName" (ngModelChange)="applyFilter()"
           name="filterName">
  </mat-form-field>

  <div fxFlex>
    <app-select-accred-type label="Filtrer par type" [allowEmpty]="true" [(selected)]="filterAccredType"
                            (selectedChange)="applyFilter()"></app-select-accred-type>
  </div>
</form>

<p *ngIf="viewType === 'admin'"><i>Affichage de <b>{{accreds.filteredData.length}} accréditation(s)</b>.</i><span
  (click)="export()">[Exporter les accréditations]</span></p>

<div class="overflow-container">
  <table mat-table [dataSource]="accreds" matSort style="width: 100%;">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom Nom</th>
      <td mat-cell *matCellDef="let e"> {{dataAccessor(e, 'name')}} </td>
    </ng-container>

    <ng-container matColumnDef="bodyName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Organisme</th>
      <td mat-cell *matCellDef="let e"> {{dataAccessor(e, 'bodyName')}} </td>
    </ng-container>

    <ng-container matColumnDef="stageName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom de scène</th>
      <td mat-cell *matCellDef="let e"> {{dataAccessor(e, 'stageName')}} </td>
    </ng-container>

    <ng-container matColumnDef="accredType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type d'accréditation</th>
      <td mat-cell *matCellDef="let e"> {{dataAccessor(e, 'accredType')}} </td>
    </ng-container>

    <ng-container matColumnDef="preferedDesk">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Accueil VIP préféré</th>
      <td mat-cell *matCellDef="let e"> {{dataAccessor(e, 'preferedDesk') }} </td>
    </ng-container>

    <ng-container matColumnDef="accredStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Etat de l'accréditation</th>
      <td mat-cell *matCellDef="let e"> {{dataAccessor(e, 'accredStatus')}} </td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Comité de contact</th>
      <td mat-cell *matCellDef="let e"> {{dataAccessor(e, 'author')}} </td>
    </ng-container>

    <ng-container matColumnDef="authorPhone">
      <th mat-header-cell *matHeaderCellDef> Tel. Comité</th>
      <td mat-cell *matCellDef="let e"> {{dataAccessor(e, 'authorPhone')}} </td>
    </ng-container>

    <ng-container matColumnDef="adminActions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="update(element.accred.accredId)">
          <mat-icon>edit</mat-icon>
        </button>
        <button [disabled]="deleting === element.accred.accredId" (click)="delete(element.accred)" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
        <button (click)="history(element.accred)" mat-icon-button>
          <mat-icon>history</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="staffActions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="view(element)" [disabled]="!element.type.physicalAccredType">
          <mat-icon>check</mat-icon>
          Infos {{ element.type.accredType.isTemporary || element.accred.status === AccredStatus.GRANTED ? 'et ' + (element.accred.status === AccredStatus.DELIVERED ? 'Retour' : 'Accueil') : '' }}
          du contact
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="particularities">
      <th mat-header-cell *matHeaderCellDef>Particularités</th>
      <td mat-cell *matCellDef="let accred">
        <mat-icon *ngIf="accred.type && accred.type.accredType.requiresSignature"
                  matTooltip="Une signature est requise">face
        </mat-icon>
        <mat-icon *ngIf="accred.type && accred.type.accredType.isTemporary"
                  matTooltip="Cette accréditation est temporaire">timer
        </mat-icon>
        <mat-icon *ngIf="accred.accred.mustContactAdmin"
                  matTooltip="Le comité responsable doit être contacté avant d'accepter la personne">call
        </mat-icon>
        <mat-icon *ngIf="accred.accred.requireRealNameOnDelivery"
                  matTooltip="Le nom réel de la personne doit être relevé avant de l'accepter">contacts
        </mat-icon>
        <mat-icon *ngIf="accred.type.physicalAccredType && accred.type.physicalAccredType.physicalAccredTypeNumbered"
                  matTooltip="Le numéro de l'accréditation délivrée devra être fournie">confirmation_number
        </mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="viewType === 'admin' ? columnsAdmin : columnsStaff"></tr>
    <tr mat-row *matRowDef="let row; columns: viewType === 'admin' ? columnsAdmin : columnsStaff;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
