<form>
  <app-select-accred-type [allowCreation]="true" style="width: 100%;"
                          [(selected)]="accredType"></app-select-accred-type>

  <app-select-vip-desk [allowCreation]="true" style="width: 100%;" [(selected)]="vipPref"></app-select-vip-desk>

  <p>Colonnes présentes :</p>
  <mat-checkbox name="hasName" [(ngModel)]="hasName">Prénom et nom</mat-checkbox>
  <br>
  <mat-checkbox name="hasBody" [(ngModel)]="hasBody">Organisme</mat-checkbox>
  <br>
  <mat-checkbox name="hasStage" [(ngModel)]="hasStage">Nom de scène</mat-checkbox>
  <br>

  <p>Exemple de format :</p>
  <pre style="max-width: 100%; overflow: auto;">{{exampleFormat}}</pre>

  <mat-form-field *ngIf="isFormatValid" style="width: 100%;">
    <mat-label>Saisie des lignes</mat-label>
    <textarea matInput rows="5" [placeholder]="exampleFormat.split('\n')[1]" name="lines"
              [(ngModel)]="lines"></textarea>
  </mat-form-field>

  <mat-checkbox [(ngModel)]="mustContactAdmin" name="mustContactAdmin" style="white-space: normal !important;">
    Demander au staff de vous contacter avant d'accepter ces contacts dans la convention
  </mat-checkbox>

  <mat-checkbox [(ngModel)]="requireRealNameOnDelivery" name="requireRealNameOnDelivery" style="white-space: normal !important;">
    Demander au staff de fournir le nom réel des personnes lors de leur arrivée (si pas encore renseigné)
  </mat-checkbox>


  <br><br>
  <button mat-stroked-button style="width: 100%;"
          [disabled]="sending || !(isFormatValid && areTypesValid && isContentValid)" (click)="send()">
    Enregistrer

    <mat-progress-spinner *ngIf="sending" mode="indeterminate" diameter="20" class="spinner"></mat-progress-spinner>
  </button>
</form>


